html {
    font-size: 20px;
}
body {
    font-family: "Arial","Meiryo",sans-serif;
    text-align: center;
}
h1 {
    font-family: "https://fonts.google.com/?query=Josefin+Sans" sans-serif;
    font-size: 2em;
    letter-spacing: 1.2em;
    text-shadow: 2px 2px 2px green;
    border-bottom: solid 3px rgb(115,115,114);
}
.color1 {
    color: skyblue;
}
.color2 {
    color: rgb(255,192,203);
}
.bold {
    font-weight: bold;
}

